
.vscode/c_cpp_properties.json
build/
venv/
.venv/

# Zephyr workspace (scaricate da west update)
/zephyr/
/modules/
/bootloader/
/tools/
/.west/

# Directory di build e output
/build/
/twister-out*/

# Python virtual environment (se lo tieni qui, ma è meglio tenerlo fuori)
/venv/
/env/
__pycache__/
*.pyc


# File temporanei
*.swp
*.swo
*~
*.bin
.DS_Store

temp/
