menuconfig BN280_DRIVER_ENABLED
    bool "Supporto BN280 driver"



if BN280_DRIVER_ENABLED

config BN280_NUM_INSTANCES
    int "Numero di GPS BN280 presenti sulla board"
    range 1 3
    default 1
    help
      Specifica quante istanze di GPS BN280 sono presenti sulla board.
      

#Instanza 0
config BN280_0_SERIAL
    int "BN280 0 Serial interface"
    range 0 3
    default 0
    depends on BN280_DRIVER_ENABLED && BN280_NUM_INSTANCES >= 1
    help
      Specifica l'interfaccia seriale utilizzata per il GPS BN280 0.


#Instanza 1
config BN280_1_SERIAL
    int "BN280 1 Serial interface"
    range 0 3
    default 1
    depends on BN280_DRIVER_ENABLED && BN280_NUM_INSTANCES >= 2
    help
      Specifica l'interfaccia seriale utilizzata per il GPS BN280 1.


#Instanza 2
config BN280_2_SERIAL
    int "BN280 2 Serial interface"
    range 0 3
    default 2
    depends on BN280_DRIVER_ENABLED && BN280_NUM_INSTANCES >= 3
    help
      Specifica l'interfaccia seriale utilizzata per il GPS BN280 2.


endif