/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };


    imu_0: bmi088-imu-0 {
        compatible = "infinity-autopilot,bmi088-imu";
        accel = <&bmi088_accel_0>;
        gyro = <&bmi088_gyro_0>;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        status = "okay";
    };
};

&lpi2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    bmi088_gyro_0: bmi088-gyr@68 {
        compatible = "bosch,bmi08x-gyro";
        reg = <0x68>; /* Indirizzo I2C del giroscopio */
        int-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
        gyro-hz = "1000_116"; 
        gyro-fs = <2000>;
        status = "okay";
    };

    bmi088_accel_0: bmi088-acc@18 {
        compatible = "bosch,bmi08x-accel";
        reg = <0x18>; /* Indirizzo I2C dell'accelerometro */
        int-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
        accel-hz = "1600";
        accel-fs = <8>;
        status = "okay";
    };
};

/* Partizione per le impostazioni persistenti (settings FCB) */
&w25q64jvxgim {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* Partizione per le impostazioni */
        storage_partition: partition@7c0000 {
            label = "storage";
            reg = <0x007c0000 0x00040000>; /* 256 KB */
        };
    };
};