
config HAL_ENABLED
    bool "Enable Logger Module"
    default y
    help
        Questo menu conterrà le configurazione della HAL, quindi la selezione dei vari sensori, delle seriali del gps e lidar
        Capire come gestire il numero di instanze di un sensore.

