
menuconfig LOGGER_ENABLED
    bool "Logger module configuration"
    default y



if LOGGER_ENABLED

config LOG_IMU_ENABLED
    bool "Enable log messages on IMU topics"
    default y
    depends on LOGGER_ENABLED

config LOG_GPS_ENABLED
    bool "Enable log messages on GPS topics"
    default y
    depends on LOGGER_ENABLED

config LOG_MAG_ENABLED
    bool "Enable log messages on Magnetometer topics"
    default y
    depends on LOGGER_ENABLED

config LOG_BARO_ENABLED
    bool "Enable log messages on Barometer topics"
    default y
    depends on LOGGER_ENABLED

config LOG_LIDAR_ENABLED
    bool "Enable log messages on Lidar topics"
    default y
    depends on LOGGER_ENABLED

config LOG_EKF_ENABLED
    bool "Enable log messages on EKF topics"
    default y
    depends on LOGGER_ENABLED

config LOG_SYS_INFO_ENABLED
    bool "Enable log messages on System General Information topics"
    default y
    depends on LOGGER_ENABLED

config LOGGER_BUFFER_SIZE
    int "Dimensione del buffer circolare per i messaggi di log in KB"
    range 8 64
    default 32
    depends on LOGGER_ENABLED
    help
      Specifica la dimensione del buffer circolare per i messaggi di log in KB.

endif # LOGGER_ENABLED