/ {
    // Qualsiasi altra configurazione...
};


&lpi2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    bmi088_gyro_0: bmi088-gyr@68 {
        compatible = "bosch,bmi088-gyr";
        reg = <0x68>; /* Indirizzo I2C del giroscopio */
        /* bandwidth = <...>; */
        status = "okay";
    };

    bmi088_accel_0: bmi088-acc@18 {
        compatible = "bosch,bmi088-acc";
        reg = <0x18>; /* Indirizzo I2C dell'accelerometro */
        /* odr = <...>; */
        /* osr = <...>; */
        status = "okay";
    };
};


