menuconfig BMI088_DRIVER_ENABLED
    bool "Supporto BMI088 driver"



if BMI088_DRIVER_ENABLED

config BMI088_NUM_INSTANCES
    int "Numero di sensori BMI088"
    range 1 3
    default 1

# Istanza 0
if BMI088_NUM_INSTANCES >= 1

choice
    prompt "Protocollo per BMI088 #0"
    default BMI088_0_I2C

config BMI088_0_I2C
    bool "I2C"

config BMI088_0_SPI
    bool "SPI"

endchoice

config BMI088_0_I2C_ADDR
    hex "Indirizzo I2C per BMI088 #0"
    depends on BMI088_0_I2C
    default 0x68
    range 0x00 0x7F

config BMI088_0_SPI_CS
    int "Pin CS per BMI088 #0"
    depends on BMI088_0_SPI
    default 10
    range 0 31

endif # BMI088_NUM_INSTANCES >= 1

# Istanza 1 (se abilitata)
if BMI088_NUM_INSTANCES >= 2

choice
    prompt "Protocollo per BMI088 #1"
    default BMI088_1_I2C

config BMI088_1_I2C
    bool "I2C"

config BMI088_1_SPI
    bool "SPI"

endchoice

config BMI088_1_I2C_ADDR
    hex "Indirizzo I2C per BMI088 #1"
    depends on BMI088_1_I2C
    default 0x69
    range 0x00 0x7F

config BMI088_1_SPI_CS
    int "Pin CS per BMI088 #1"
    depends on BMI088_1_SPI
    default 11
    range 0 31

endif # BMI088_NUM_INSTANCES >= 2

# Istanza 2 (se abilitata)
if BMI088_NUM_INSTANCES >= 3

choice
    prompt "Protocollo per BMI088 #2"
    default BMI088_2_I2C

config BMI088_2_I2C
    bool "I2C"

config BMI088_2_SPI
    bool "SPI"

endchoice

config BMI088_2_I2C_ADDR
    hex "Indirizzo I2C per BMI088 #2"
    depends on BMI088_2_I2C
    default 0x6A
    range 0x00 0x7F

config BMI088_2_SPI_CS
    int "Pin CS per BMI088 #2"
    depends on BMI088_2_SPI
    default 11
    range 0 31

endif # BMI088_NUM_INSTANCES >= 2

endif # ENABLE_BMI088
