menuconfig RADIO_SITL_DRIVER_ENABLED
    bool "Supporto BMI088 driver"
    default y



if RADIO_SITL_DRIVER_ENABLED

config RADIO_GCS_PORT
    int "Porta UDP sulla quale ascolta la ground control station."
    range 14000 16000
    default 14550





endif # RADIO_SITL_DRIVER_ENABLED
