menuconfig BMI088_DRIVER_ENABLED
    bool "Supporto BMI088 driver"
    default y



if BMI088_DRIVER_ENABLED

config BMI088_NUM_INSTANCES
    int "Numero di sensori BMI088"
    range 1 3
    default 1

endif # ENABLE_BMI088
